<!DOCTYPE html>
<link rel="stylesheet" href="/style.css">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Goodplays</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
