<h1>Friends</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a> </p>
<p><a href="/reset"><strong>RESET</strong></a></p>

<form method="POST" action="/add-friend"> <label for="player1_id">Player 1 ID:</label> <input type="number" id="player1_id" name="player1_id" required><br>
<label for="player2_id">Player 2 ID:</label><input type="number" id="player2_id" name="player2_id" required><br>
<button type="submit">Add Friend</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>friend_id</th>
            <th>initiated_by</th>
            <th>date_added</th>
            <th>Delete a friend</th>
        </tr>
    </thead>
    <tbody>
        {{#each friends}}
        <tr>
            <td>{{this.friend_id}}</td>
            <td>{{this.initiated_username}}</td>
            <td>{{this.format_date_added}}</td>
            <td><form method="POST" action="/delete-friend">
                <button type="submit">delete</button>
                </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>
