<h1>Friends</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<table border="1">
    <thead>
        <tr>
            <th>friend_id</th>
            <th>initiated_by</th>
            <th>date_added</th>
            <th>Delete a friend</th>
        </tr>
    </thead>
    <tbody>
        {{#each friends}}
        <tr>
            <td>{{this.friend_id}}</td>
            <td>{{this.initiated_by}}</td>
            <td>{{formatDate this.date_added}}</td>
            <td><form method="POST" action="/delete-friend">
                <button type="submit">delete</button>
                </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Add a New Friend</h3>
<form method="POST" action="/add-friend">
    <label for="friend_id">Friend ID:</label>
    <input type="text" id="friend_id" name="friend_id"><br>

    <button type="submit">Add Friend</button>
</form>
