
<body>
    <h1>Welcome to Goodplays</h1>
    <p>By: Allyson Aoki and Janessa Moreno</p><br>
    <h3>This site allows you to browse and manage video games, players, friendships, and play history.</h3>
    <h2>Navigate to:</h2>
    <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/friends">Friends</a></li>
        <li><a href="/playersfriends">PlayersFriends</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/gamesplayed">GamesPlayed</a></li>
    </ul>
</body>
