<body>
<h1>Welcome to Goodplays</h1>
        <p>By: Allyson Aoki and Janessa Moreno</p>
        <p>This site allows you to browse and manage video games, players, friendships, and play history.</p><br>
        <h2>Navigate to:</h2>
        <p>
            <a href="/">Home</a>
            <a href="/players">Players</a>
            <a href="/friends">Friends</a>
            <a href="/playersfriends">PlayersFriends</a>
            <a href="/games">Games</a>
            <a href="/gamesplayed">GamesPlayed</a><br><br>
            <a href="/reset"><strong>RESET</strong></a>
        </p>

</body>