<h1>Players</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<table border="1">
    <thead>
        <tr>
            <th>player_id</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
        {{#each players}}
        <tr>
            <td>{{this.player_id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>