<h1>PlayersFriends</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<table border="1">
    <thead>
        <tr>
            <th>friend_id</th>
            <th>player_id</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        {{#each playersfriends}}
        <tr>
            <td>{{this.friend_id}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>