/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@700&display=swap');

/* Variables */
:root{
    --lightest-brown: #f0ece3;
    --light-brown: #d9c8b6;
    --brown: #ad8466;
    --dark-brown: #76563f;
    --green: #646d52;
    --dark-green: #303d2b;
}


/* Viewports */
body, h1, h2, h3, p, table, form {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: var(--lightest-brown);
    padding: 20px;
    color: var(--dark-green);
}


h1 {
    font-family: 'Unna';
    font-size: 40px;
    color: var(--dark-green);
    text-align: center;
    background-color: var(--light-brown);
    max-width: 1920px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0%;
}
h2, h3 {
    font-family: 'Unna';
    font-size: 25px;
    color: var(--dark-green);
    text-align: center;
        background-color: var(--light-brown);
    max-width: 1920px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--green);
    margin: 5px;
    align-items: center;
}

a:hover {
    text-decoration: underline;
    color: var(--dark-green);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    background-color: var(--light-brown);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid var(--brown);
}

th {
    background-color: var(--brown);
}

form {
    margin-top: 10px;
    text-align: center;
}
ul{
    text-align: left center;
    list-style-position: inside;
}
input[type="text"], input[type="number"], input[type="date"], select {
    padding: 8px;
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: var(--green);
    color: var(--lightest-brown);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-green);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}
